.container {
  width: 100%;
  background-image: url("../../common/image/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fcfcfc;
  animation: 2s fadein;
  display: flex;
  justify-content: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  padding: 14rem 0;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.container span {
  font-weight: 900;
  font-size: 3rem;
  font-family: GothicBold;
}
.txt {
  display: block;
  margin-top: 1.5rem;
}

.txt:nth-child(2) {
  margin-top: 2rem;
  margin-left: 8rem;
}
.txt:nth-child(3) {
  margin-top: 2rem;
  margin-left: 18rem;
}
.name {
  background: linear-gradient(
    to right top,
    #009cf3,
    #00bdfc,
    #00d6d3,
    #00e684,
    #a8eb12
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frontend {
  margin-left: 5rem;
  display: inline;
}
.emoji {
  width: 16rem;
  margin-right: 10rem;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .emoji {
    width: 10rem;
    margin-right: 5rem;
  }
}
