.container {
  height: 100vh;
  padding-top: 2rem;
  font-family: GothicBold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6fafff;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfcfc;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: 10px 7px 22px -2px rgba(0, 0, 0, 0.4);
}

.skill {
  display: flex;
  flex-direction: column;
}
.skill_container {
  display: flex;
  font-family: GothicRegular;
}

.img_container {
  position: relative;
  width: 5vw;
  height: 5vw;
  overflow: hidden;
  cursor: pointer;
  margin: 0 1rem;
  padding: 0.5rem;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.custom_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 90px;
}

.custom_shape .shape_fill {
  fill: #aad9fd;
}
