@font-face {
  font-family: "GothicBold"; /*폰트 패밀리 이름 추가*/
  src: url("./common/font/GimpoGothicBold.otf"); /*폰트 파일 주소*/
}
@font-face {
  font-family: "GothicRegular"; /*폰트 패밀리 이름 추가*/
  src: url("./common/font/GimpoGothicRegular.otf"); /*폰트 파일 주소*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #aad9fd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  margin: 0;
}
ul,
li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}
