.skill {
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: GothicBold;

  margin-right: 0.5rem;
  transition: 0.2s;
}
.skill:hover {
  transform: scale(1.1);
}
.skill span {
  margin-left: 0.3rem;
  color: white;
  font-size: 0.7rem;
}
.react {
  background-color: #25d9fd;
}
.javascript {
  background-color: #f0da5b;
}
.typescript {
  background-color: #367ac4;
}
.postcss {
  background-color: #db3c1d;
}
.css {
  background-color: #2a53e1;
}
.html {
  background-color: #e24e30;
}
.java {
  background-color: #007396;
}
.firebase {
  background-color: #ffca28;
}
.mysql {
  background-color: #4479a1;
}
.android {
  background-color: #3ddc84;
}
.postcss {
  background-color: #dd3a0a;
}
.nodejs {
  background-color: #339933;
}

.label {
  margin: 0.3rem 0;
}
