.container {
  height: 100vh;
  font-family: GothicBold;
  display: flex;
  align-items: center;
  position: relative;
}
.box {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
h2 {
  font-size: 3rem;
}
h3 {
}
.txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 70%;
  margin-left: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
.content span {
  font-family: GothicRegular;
}

.emoji_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: #feeabb;
  padding: 1rem;
}
.emoji_container img {
  width: 75%;
}

.custom_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 90px;
}

.custom_shape .shape_fill {
  fill: #fcfcfc;
}
